.banner {
  @extend %relative;
  overflow: clip;
  padding: clamp(100px, 14vw, 137px) 0;
  background: url('/images/coffee-banner.webp') center center / cover no-repeat;

  &__wrapper {
    @extend %relative;
    max-width: 94.3%;

    @include media-down(md) {
      max-width: 100%;
    }
  }

  &__block {
    @extend %relative;
    @extend %grid;
    z-index: 2;
    gap: 22px;
    max-width: 575px;
  }

  &__text {
    max-width: 80%;

    @include media-down(md) {
      max-width: 100%;
    }
  }

  &__text,
  &__title {
    color: var(--white);
    text-shadow: 7px 3px 15px rgba(0, 0, 0, 0.7);
  }

  &__image-mug {
    @extend %absolute;
    top: 54%;
    right: 0;
    z-index: 1;
    width: auto;
    height: clamp(250px, 50vw, 490px);
    transform: translate(0%, -50%);

    @include media-down(md) {
      display: none;
    }

    .image {
      width: 100%;
      height: 100%;
    }
  }

  &::after {
    content: url('/images/coffee-beans-banner.webp');
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    filter: brightness(0.9) drop-shadow(3px 5px 7px black) blur(0.7px);
  }
}
