.hero {
  @extend %relative;
  z-index: 0;
  width: 100%;
  height: auto;
  // padding: 183px 15px 93px;
  padding: clamp(100px, 14vw, 183px) 15px clamp(60px, 10vw, 93px);
  background: url('/images/coffee-image.webp') center center / cover no-repeat;

  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #1e1e1e -6.88%, rgba(0, 0, 0, 0) 87.45%);
  }

  &__container {
    @extend %relative;
    z-index: 1;
    color: var(--white);
  }

  &__caption {
    font-family: var(--font-family-cursive);
    font-size: clamp(45px, 25vw, 220px);
    line-height: 1.34;
    font-weight: 400;
  }

  &__title {
    @include fontHeight(22, 1.2, 500);
    font-size: clamp(18px, 3.2vw, 22px);
  }

  &__text {
    max-width: 527px;
    color: var(--white);
  }

  &__button {
    margin-top: 20px;
  }
}
