.novelties-section {
  @include media-down(lg) {
    padding: 0;
  }

  &__container {
    text-align: center;

    @include media-down(lg) {
      padding: 0 15px;
    }
  }

  &__text {
    margin: 18px 0 0;
  }

  &__list {
    max-width: fit-content;
    margin: 32px auto 0;
    padding: 0 0 25px;
  }

  .slider-novelties {
    @include media-down(lg) {
      padding: 0 15px;
    }
  }
}
