:root {
  --background: #fffefc;
  --black: #1e1e1e;
  --black-10: #0000001a;
  --white: #fff;
  --main: #707070;
  --primary: #603809;
  --secondary: #f9c06a;
  --accent: #ffeed8;
  --card-bg: #fff9f1;
  --card-border: #f9c06a6b;
  --footer-bg: #442808;
  --buttons-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  --font-family: 'Playfair Display', sans-serif;
  --font-family-cursive: 'Clicker Script', cursive;
}
