* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  transition: all 0.2s;
  text-decoration: none;
  font-style: normal;
}

a,
a:hover,
a:active {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  background: transparent;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  transition: all 0.2s;
  line-height: 1;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
  // vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  background: var(--background);
  color: var(--black);
  height: 100%;
  width: 100%;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  letter-spacing: 0.5px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
