@import './modules/reset';
@import './vars/vars';
@import './mixins/fontHeight';
@import './mixins/media';
@import './extends/extends';
@import '@/styles/modules/buttons';

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.visibility-hidden {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  padding: 0;
  border: 0;
  outline: 0;
  outline-offset: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.section {
  margin-top: clamp(15px, 10vw, 82px);
}

.title {
  @include fontHeight(54, 1.3, 700);
  color: var(--primary);

  @include media-down(xl) {
    font-size: max(36px, min(9vw, 54px));
  }

  @include media-down(md) {
    line-height: 1;
  }
}

.text {
  @include fontHeight(20, 1.7, 400);
  font-size: clamp(16px, 3vw, 20px);
  line-height: 1.7;
  color: var(--main);
}

a {
  text-decoration: none;
}
